.Task {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    color: #333;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    transition: color .5s, top .5s;
}
.Task:hover {
    background: #333;
    color: #fff;
    top: 2px;
}

.Task--completed {
    text-decoration: line-through;
}
