:root {
  --primary: #333;
  --secondary: #c00;
  --supplementary: #fff;
}

.App-parent {
  display: flex;
  flex-direction: column;
  font: 13px 'Courier', monospace;
  justify-content: center;
  padding: 10px;
  max-width: 700px;
  width: 100%;
}

.App-parent > div:first-of-type {
  width: 30%;
}

.App-parent > div:nth-of-type(2) {
  width: 70%;
}

.users a {
  border-bottom: 1px dotted #333;
  color: var(--primary);
  text-decoration: none;
}


/* for tablet and above */
@media (min-width: 640px) {
  .App-parent {
    display: flex;
    flex-direction: row;
  }
}
